<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Chatbot Messenger</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/chatbot_1.ico' %}" type="image/gif" sizes="32x32">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="left">
                    <a href="/">
                        <img src="{% static 'img/chatbot.svg' %}">
                        <p>LOVE CHATBOT</p>
                    </a>
                </div>
                <div class="middle">
                    <h3>Chats</h3>
                </div>

                <div class="right">
                    <div class="avatar"><img src="{% static 'img/avatar-1.png' %}"></div>
                    <p id="nameUser">Ẩn danh</p>

                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox" />
                          <div class="slider round"></div>
                        </label>
                    </div>

                    <i class="fas fa-trash-alt" id="delete-icon"></i> 
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'js/chatbot.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/changeTheme.js' %}"></script>
</body>
</html>
