{% extends 'base.html' %}
{% block body %}
<main>
    <div class="col">
        <div class="col-content">
            <section class="message">
                <div class="grid-message">

                </div>
            </section>
        </div>

        <div class="col-foot">
            <div class="compose">
                <input id="message-input" placeholder="Type a message">
                <div class="compose-dock" id='submit-btn' title="Gửi">
                    <div class="dock">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}